/*变量定义*/
/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
/*共用方法*/
/*清除浮动*/
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
/*字符溢出处理*/
.textover {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
}
/*compatibility*/
/*全局样式*/
body {
  font-family: "微软雅黑", 'Microsoft Yahei', STXihei, "宋体", "黑体", arial, sans-serif;
  color: #333333;
}
body.home {
  background: #1f1f21;
}
img {
  max-width: 100%;
}
a:hover {
  text-decoration: none;
  color: #646464;
}
/*bgcolor*/
.bg-cancel {
  background: #e4e4e4;
  color: #656565;
}
.bg-success {
  background: #24b324;
  color: #ffffff;
}
.bg-fail {
  background: #777777;
  color: #ffffff;
}
.bg-invest {
  background: #50cd85;
  color: #ffffff;
}
.bg-paying {
  background: #6cbd3c;
  color: #ffffff;
}
.bg-payed {
  background: #c37b36;
  color: #ffffff;
}
/* 字体 */
.font-lg {
  font-size: 20px;
}
.font-md {
  font-size: 16px;
}
.font-sm {
  font-size: 12px;
}
.font-default {
  font-size: 14px;
}
.text-invest {
  color: #50cd85;
}
/*背景渐变取消*/
.gradient-cancel {
  background: -webkit-linear-gradient(270deg, #e4e4e4, #cbcbcb);
  background: -moz-linear-gradient(270deg, #e4e4e4, #cbcbcb);
  background: -ms-linear-gradient(270deg, #e4e4e4, #cbcbcb);
  background: -o-linear-gradient(270deg, #e4e4e4, #cbcbcb);
}
/*背景渐变成功*/
.gradient-success {
  background: -webkit-linear-gradient(270deg, #24b324, #1b891b);
  background: -moz-linear-gradient(270deg, #24b324, #1b891b);
  background: -ms-linear-gradient(270deg, #24b324, #1b891b);
  background: -o-linear-gradient(270deg, #24b324, #1b891b);
}
/*布局*/
/* 使用ul li 布局基类 包含 清楚浮动 box-sizing */
.layout {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  zoom: 1;
  box-sizing: border-box;
}
.layout:after {
  content: " ";
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
.layout.row-two > li,
.layout.row-three > li,
.layout.row-four > li,
.layout.row-five > li,
.layout.row-six > li,
.layout.row-seven > li > li {
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .layout.row-two > li,
  .layout.row-three > li,
  .layout.row-four > li,
  .layout.row-five > li,
  .layout.row-six > li,
  .layout.row-seven > li > li {
    width: 100%;
  }
}
/* 针对手机 使布局不变 */
@media (max-width: 768px) {
  .layout-sm.row-two > li {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .layout-sm.row-three > li {
    width: 33.3%;
  }
}
@media (max-width: 768px) {
  .layout-sm.row-four > li {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .layout-sm.row-five > li {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .layout-sm.row-six > li {
    width: 16.66%;
  }
}
/* 为布局添加边框 */
.row-border > li {
  border-left: 1px solid #aeaeae;
}
.row-border > li:first-child {
  border-left: none;
}
.row-three-border > li:first-child {
  border-left: none;
}
.row-two > li {
  width: 50%;
  float: left;
}
.row-three > li {
  width: 33%;
  float: left;
}
.row-four > li {
  width: 25%;
  float: left;
}
.row-five > li {
  float: left;
  width: 20%;
}
.row-six > li {
  width: 16.66%;
  float: left;
}
ul.row-four_ok li {
  width: 20%;
  float: left;
}
.fixed-left {
  background: #000;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  color: #fff;
  z-index: 4;
}
.logo {
  line-height: 120px;
  text-align: center;
  font-size: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}
ul.mynav a {
  color: #fff;
}
ul.mynav li {
  line-height: 60px;
  padding-left: 29px;
  font-size: 18px;
  opacity: 0.7;
}
ul.mynav li:hover,
ul.mynav li.active {
  cursor: pointer;
  background: #50cd85;
  opacity: 1;
}
.fixed-bottom {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.fixed-bottom li {
  padding-left: 29px;
  line-height: 40px;
}
.fixed-bottom li:hover,
.fixed-bottom li.active {
  cursor: pointer;
  background: #50cd85;
}
.pop-tip {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  background: url(../img/pop-tip.png) repeat;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s;
}
.pop-tip-box {
  width: 240px;
  height: 240px;
  margin: 30px;
  box-sizing: border-box;
  border: 1px solid #fff;
  text-align: center;
  position: relative;
}
.pop-tip-box h2 {
  font-size: 32px;
  color: #fff;
  margin: 45px 0 15px;
}
.pop-tip-box p {
  margin: 0 40px;
  font-size: 12px;
}
.pop-tip-box ul.layout.row-two {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.pop-tip-box ul.layout.row-two li:hover {
  cursor: pointer;
}
.pop-tip-box ul.layout.row-two li:hover .sprite-share {
  transition: transform 1s;
  transform: rotate(90deg);
}
.mybtn-bigbox {
  display: block;
  zoom: 1;
}
.mybtn-bigbox:after {
  content: " ";
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
.mybtn-bigbox .mybtn-box {
  float: right;
}
.mybtn-box {
  width: 300px;
  height: 124px;
  box-sizing: border-box;
  padding: 38px 60px;
  background: #50cd85;
  color: #fff;
}
.mybtn {
  border: 1px solid #fff;
  text-align: center;
  line-height: 48px;
  border-radius: 2px;
}
.mybtn:hover {
  cursor: pointer;
}
/* 作品集框 元素向左浮动 超出自动换到下一行 */
.mycontainer {
  margin-left: 240px;
  background: #1f1f21;
  display: block;
  zoom: 1;
}
.mycontainer:after {
  content: " ";
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
.mycontainer > ul.layout > li {
  position: relative;
}
.mycontainer > ul.layout > li:hover .pop-tip {
  opacity: 1;
}
.box-products {
  margin: auto;
}
.box-products > li {
  float: left;
}
.box-products > div {
  float: left;
  width: 270px;
  margin-left: 30px;
}
@media (min-width: 992px) {
  .box-products {
    width: 601px;
  }
}
@media (min-width: 1200px) {
  .box-products {
    width: 901px;
  }
}
@media (min-width: 1400px) {
  .box-products {
    width: 1201px;
  }
}
@media (min-width: 1600px) {
  .box-products {
    width: 1501px;
  }
}
.hot-prod {
  padding-top: 60px;
}
.petal {
  background: #262626;
  color: #fff;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 30px;
}
.petal .box-img {
  text-align: center;
}
.petal .box-img img {
  max-width: 100%;
}
.petal h2 {
  font-size: 18px;
  margin: 20px 0 10px;
}
.sprite {
  background: url(../img/sprite.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.sprite-home {
  background-position: -17px 0;
  width: 22px;
  height: 20px;
  margin-right: 17px;
}
.sprite-picture {
  background-position: -17px -61px;
  width: 22px;
  height: 21px;
  margin-right: 17px;
}
.sprite-theme {
  background-position: -18px -120px;
  width: 20px;
  height: 23px;
  margin-right: 19px;
}
.sprite-drawer {
  background-position: -17px -182px;
  width: 22px;
  height: 18px;
  margin-right: 17px;
}
.sprite-brush {
  background-position: -17px -241px;
  width: 22px;
  height: 21px;
  margin-right: 17px;
}
.sprite-user {
  background-position: -18px -301px;
  width: 21px;
  height: 20px;
  margin-right: 18px;
}
.sprite-book {
  background-position: -18px -361px;
  width: 21px;
  height: 21px;
  margin-right: 18px;
}
.sprite-set {
  background-position: -19px -406px;
  width: 18px;
  height: 19px;
  margin-right: 15px;
}
.sprite-help {
  background-position: -19px -449px;
  width: 19px;
  height: 19px;
  margin-right: 14px;
}
.sprite-quit {
  background-position: -17px -494px;
  width: 18px;
  height: 18px;
  margin-right: 15px;
}
.sprite-love {
  background-position: -229px -114px;
  width: 17px;
  height: 16px;
  margin-right: 10px;
}
.sprite-share {
  background-position: -287px -114px;
  width: 15px;
  height: 16px;
  margin-right: 11px;
}
.sprite-microblog {
  background-position: -343px -113px;
  width: 20px;
  height: 17px;
  margin-right: 20px;
}
.sprite-wechat {
  background-position: -466px -113px;
  width: 20px;
  height: 17px;
  margin-right: 20px;
}
.sprite-phone {
  background-position: -405px -114px;
  width: 16px;
  height: 16px;
  margin-right: 24px;
}
.sprite-close {
  background-position: -256px -546px;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 30px;
  top: 30px;
  transition: transform 0.8s;
}
.sprite-close:hover {
  transform: rotate(90deg);
  cursor: pointer;
}
/* 我的作品集 */
.home-right {
  margin-left: 240px;
}
.home-right h2 {
  text-align: center;
  font-size: 50px;
  margin: 50px 0 20px;
}
.home-right .signature {
  text-align: center;
  color: #aeaeae;
}
.myproduct {
  width: 700px;
  margin: 60px auto;
}
.myproduct li {
  position: relative;
  margin-bottom: 50px;
}
.myproduct li .box-btn {
  position: absolute;
  bottom: -10px;
  left: 190px;
}
.myproduct img {
  float: left;
  margin-right: 30px;
}
.myproduct h3 {
  margin: 20px 0 10px;
  font-size: 18px;
  font-weight: 100;
  color: #57ad68;
}
.myproduct .time {
  color: #aeaeae;
}
.smbtn {
  font-size: 14px;
  border-radius: 2px;
  display: inline-block;
  padding: 0 15px;
  line-height: 38px;
}
.smbtn:hover {
  cursor: pointer;
}
.smbtn-default {
  border: 1px solid #50cd85;
  color: #50cd85;
}
.smbtn-default:hover {
  text-decoration: underline;
}
.smbtn-black {
  border: 1px solid #444;
  color: #444;
}
.smbtn-black:hover {
  text-decoration: underline;
}
.box-pro {
  width: 160px;
  height: 285px;
  position: relative;
  float: left;
  margin-right: 30px;
}
.box-pro:hover {
  cursor: pointer;
}
.box-pro:hover .box-pro-tip {
  transition: opacity 0.5s;
  opacity: 1;
}
.box-pro .box-pro-tip {
  background: url(../img/box-pro-tip.png) repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
.box-pro .box-pro-tip img {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* 分隔线 */
.separator {
  width: 120px;
  height: 2px;
  background: #aeaeae;
  margin: 15px auto;
}
/* 创建我的作品集 */
.box-create {
  width: 650px;
  margin: auto;
}
.layer-cake li {
  padding: 35px 0;
  border-bottom: 1px solid #dadada;
}
.layer-cake li .title {
  font-size: 18px;
  margin: 0;
  line-height: 28px;
  font-weight: 400;
}
.layer-cake li .title input[type="radio"] {
  margin-left: 50px;
}
.upload-img {
  margin: 47px 0;
}
.upload-img h4 {
  margin: 0;
}
.upload-img .box-upload-img:nth-child(5n) {
  margin-right: 0;
}
.box-upload-img {
  border: 1px solid #aeaeae;
  position: relative;
  width: 100px;
  float: left;
  height: 100px;
  box-sizing: border-box;
  margin: 35px 35px 0 0;
  line-height: 100px;
  text-align: center;
  font-size: 48px;
  color: #aeaeae;
}
.box-upload-img:hover {
  color: #50cd85;
  border-color: #50cd85;
  cursor: pointer;
}
.box-upload-img input {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.register-box {
  background: url(../img/box-pro-tip.png) repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.register {
  background: #fff;
  border-radius: 2px;
  width: 794px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 10%;
}
.register .title {
  font-size: 50px;
  font-weight: 400;
  margin: 30px auto 60px;
  text-align: center;
}
.register .layout {
  background: url(../img/register.png) no-repeat center center;
  margin-bottom: 80px;
}
.register .layout li {
  padding: 0 80px;
}
.register .layout li .btn.btn-block {
  margin-top: 30px;
}
.register .layout li input {
  margin-bottom: 15px;
}
.register .layout li .smbtn-default {
  padding: 0 40px;
  margin-left: 60px;
}
.register .layout li > h4 {
  margin-bottom: 20px;
}
.login-box {
  width: 240px;
  margin: 0 auto 50px;
  text-align: center;
}
.login-box input {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  line-height: 36px;
  border: 1px solid #dadada;
  text-indent: 5px;
}
.login-box input.sm {
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
}
.login-box .smbtn {
  margin-bottom: 20px;
}
.home-list {
  margin: 0 50px;
}
.nav-pills li.active a,
.nav-pills li.active a:hover,
.nav-pills li:hover a {
  background: #313131;
  color: #fff;
}
.nav-pills li a {
  color: #fff;
}
.nav-pills li.active:hover a {
  background: #313131;
}
.box-artists {
  border: 5px solid #212121;
  background: #262626;
  padding: 30px 0;
  margin-bottom: 20px;
  color: #fff;
  display: block;
  zoom: 1;
}
.box-artists:after {
  content: " ";
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
.box-artists > .second {
  float: left;
  text-align: center;
  font-size: 12px;
}
.box-artists > .second > .btn {
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 90px;
}
.box-artists > .second h4 {
  margin-bottom: 20px;
}
.box-artists > .third {
  float: left;
  width: 126px;
  margin: 0 40px;
  font-size: 12px;
}
.box-artists img.pull-left {
  max-width: 140px;
  margin-right: 20px;
}
.box-artists > .box-img {
  float: left;
  width: 60%;
  height: 140px;
  overflow: hidden;
}
.artists-tx {
  padding: 20px 30px 0;
  width: 160px;
  float: left;
}
.artists-tx img {
  border-radius: 50%;
  max-width: 100%;
}
.btn-fail {
  background: #313131;
  color: #fff;
}
.btn-fail:hover {
  background: #313131;
  color: #fff;
}
.displaynone {
  display: none;
}
.myhtml {
  padding: 0 15px 1px;
  text-align: center;
  background: url(../img/myhtml-bg.jpg) no-repeat;
  color: #fff;
}
.myhtml h2 {
  font-size: 16px;
  margin-top: 5px;
}
.img-title {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  line-height: 65px;
  overflow: hidden;
  display: inline-block;
  margin-top: 20px;
}
.img-title img {
  max-width: 100%;
}
.title-myhtml {
  background: #212127;
  color: #93939e;
  font-size: 14px;
  text-align: center;
  line-height: 54px;
}
.box-btn {
  border-top: 1px solid #17171b;
  width: 90%;
  margin: 15px auto;
}
.box-btn-2 {
  border-top: 1px solid #2d2d34;
  padding: 10px 0;
}
.newbtn {
  display: inline-block;
  border-radius: 3px;
  padding: 0 30px;
  line-height: 36px;
}
.newbtn-block {
  display: block;
  text-align: center;
  padding: 0;
}
.newbtn-myhtml {
  background: #545070;
  color: #fff;
}
.myhtml-bottom {
  background: #17171a url(../img/myhtml-bottom.png) no-repeat 95% center;
  padding: 10px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
}
.myhtml-bottom-img {
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
  float: left;
}
.myhtml-bottom-right {
  float: left;
  margin-left: 10px;
  padding: 5px 0;
  line-height: 17px;
  color: #fff;
}
.myhtml-bottom-right span {
  color: #dc6735;
}
.myhtml-bottom-right p {
  margin: 0;
}
